/* Удалить */
.block-2 {
}

/* Удалить */
.block-2__element {
}

/* Оставить */
.block-1 {
}

/* Оставить */
.block-1__element {
}

/* Оставить 1 */
.block-1,
.block-2 {
}

/* Удалить */
.block-2,
.block-2__element {
}

/* Удалить */
.block-1 .block-2,
.block-2 .block-1 {
}

/* Удалить */
.block-1.block-2 {
}

/* Удалить */
.block-1 > .block-2 {
}

/* Удалить */
.block-2 ~ .block-1 {
}

/* Оставить */
.block2 {
}

/* Оставить */
.block-22 {
}
