/* Удалить */

/* Удалить */

/* Оставить */
.block-1 {
}

/* Оставить */
.block-1__element {
}

/* Оставить 1 */
.block-1 {
}

/* Удалить */

/* Удалить */

/* Удалить */

/* Удалить */

/* Удалить */

/* Оставить */
.block2 {
}

/* Оставить */
.block-22 {
}
